<div class="row">
  <div class="col-sm-6">
    <h1>Televisions</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%#= link_to new_television_path, class: 'btn btn-primary' do %>
    Add New Television
    <%# end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2" style="font-size: 0.75rem">
    <h6>Division Type</h6>
    <% @provinces.aggs["code"].each do |bucket| %>
      <%= bucket['key'] %> (<%= bucket['doc_count'] %>)
    <% end %>
    <!--      <div>-->
    <%# if params[:year] == bucket["key"].to_s %>
    <!--          <strong><%#= link_to bucket["key"], request.params.except(:year) %></strong>-->
    <%# else %>
    <%#= link_to bucket["key"], request.params.merge(year: bucket["key"]) %>
    <%# end %>
    <!--        (<%#= bucket["doc_count"] %>)-->
    <!--      </div>-->
    <%# end %>

    <%#= form_with method: :get, local: true, html: { class: "form-inline" } do |form| %>
    <!--      <div class="form-group mb-2">-->
    <%#= form.number_field :price_from, value: params[:price_from], placeholder: "$Min", class: "form-control" %>
    <!--      </div>-->
    <!--      <div class="form-group mb-2">-->
    <%#= form.number_field :price_to, value: params[:price_to], placeholder: "$Max", class: "form-control" %>
    <!--      </div>-->
    <!--      <div class="form-group">-->
    <%#= form.button "Go", class: "btn btn-secondary" %>
    <!--      </div>-->
    <%# end %>
  </div>
  <div class="col-sm-10">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>

          <th>Name</th>
          <th>Code</th>
          <th>Division Type</th>
          <th>Phone Code</th>
          <th>Code Name</th>

        </tr>
        </thead>

        <tbody>
        <% @provinces.each do |province| %>
          <%= content_tag :tr, id: dom_id(province), class: dom_class(province) do %>

            <!--          <td><%#= link_to province.name, province %></td>-->


            <td><%= province.name %></td>
            <td><%= province.code %></td>
            <td><%= province.division_type %></td>
            <td><%= province.phone_code %></td>
            <td><%= province.codename %></td>


          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>